openapi: 3.0.0
info:
  title: 图书馆管理系统 API
  description: 图书馆管理系统的API接口文档
  version: 1.0.0
servers:
- url: https://proddev.hailuoai.com
  description: 本地开发服务器
paths:
  /test/check_book_can_renew:
    get:
      summary: 检查图书是否可以续借
      description: ''
      operationId: check_book_can_renew
      parameters:
      - required: true
        in: query
        description: 图书唯一标识符
        name: book_id
        type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/definitions/RenewCheckResponse'
        '400':
          description: 请求参数错误
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  status:
                    type: string
  /test/check_user_can_reserve_room:
    get:
      summary: 检查用户是否可以预约座位
      description: ''
      operationId: check_user_can_reserve_room
      parameters:
      - required: true
        in: query
        description: 用户唯一标识符
        name: user_id
        type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/definitions/ReserveCheckResponse'
        '400':
          description: 请求参数错误
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  status:
                    type: string
  /test/get_user_borrow_info:
    get:
      summary: 获取用户借阅信息
      description: ''
      operationId: get_user_borrow_info
      parameters:
      - required: true
        in: query
        description: 用户唯一标识符
        name: user_id
        type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/definitions/BorrowInfoResponse'
        '400':
          description: 请求参数错误
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  status:
                    type: string
  /test/get_user_info:
    get:
      summary: 获取用户信息接口
      description: ''
      operationId: get_user_info
      parameters:
      - required: true
        in: query
        description: 用户唯一标识符
        name: user_id
        type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/definitions/UserInfoResponse'
        '400':
          description: 请求参数错误
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  status:
                    type: string
  /test/get_user_reserve_info:
    get:
      summary: 获取用户预约信息
      description: ''
      operationId: get_user_reserve_info
      parameters:
      - required: true
        in: query
        description: 用户唯一标识符
        name: user_id
        type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/definitions/ReserveInfoResponse'
        '400':
          description: 请求参数错误
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  status:
                    type: string
components:
  schemas:
    Error:
      properties:
        error:
          type: string
          description: 错误信息
        status:
          type: string
          description: 错误状态
      type: object
    UserInfoResponse:
      properties:
        data:
          $ref: '#/definitions/UserInfo'
        status:
          type: string
          description: 响应状态
      type: object
    UserInfo:
      properties:
        user_id:
          type: string
          description: 用户唯一标识符
        user_name:
          type: string
          description: 用户姓名
        user_email:
          type: string
          description: 用户邮箱地址
        user_phone:
          type: string
          description: 用户电话号码
        user_address:
          type: string
          description: 用户地址
        user_status:
          type: string
          description: 用户状态
        permission:
          type: string
          description: 用户权限类型
        user_period_of_validity:
          type: string
          format: date-time
          description: 用户有效期
        ALeph_wallet:
          type: number
          description: 用户钱包余额
      type: object
    BorrowInfoResponse:
      properties:
        data:
          $ref: '#/definitions/BorrowInfoList'
        status:
          type: string
          description: 响应状态
      type: object
    BorrowInfoList:
      properties:
        borrow_info:
          type: array
          items:
            $ref: '#/definitions/BorrowInfo'
      type: object
    BorrowInfo:
      properties:
        book_id:
          type: string
          description: 图书ID
        book_name:
          type: string
          description: 图书名称
        borrow_time:
          type: string
          format: date-time
          description: 借阅时间
        borrow_end_time:
          type: string
          format: date-time
          description: 应还时间
        borrow_status:
          type: string
          description: 借阅状态
        borrow_user_id:
          type: string
          description: 借阅用户ID
      type: object
    RenewCheckResponse:
      properties:
        data:
          $ref: '#/definitions/RenewCheck'
        status:
          type: string
          description: 响应状态
      type: object
    RenewCheck:
      properties:
        can_renew:
          type: boolean
          description: 是否可以续借
      type: object
    ReserveCheckResponse:
      properties:
        data:
          $ref: '#/definitions/ReserveCheck'
        status:
          type: string
          description: 响应状态
      type: object
    ReserveCheck:
      properties:
        can_reserve_room:
          type: boolean
          description: 是否可以预约
      type: object
    ReserveInfoResponse:
      properties:
        data:
          $ref: '#/definitions/ReserveInfoWrapper'
        status:
          type: string
          description: 响应状态
      type: object
    ReserveInfoWrapper:
      properties:
        reserve_info:
          $ref: '#/definitions/ReserveInfo'
      type: object
    ReserveInfo:
      properties:
        room_id:
          type: string
          description: 房间ID
        room_name:
          type: string
          description: 房间名称
        reserve_time:
          type: string
          format: date-time
          description: 预约时间
        reserve_status:
          type: string
          description: 预约状态
        reserve_user_id:
          type: string
          description: 预约用户ID
        reserve_user_name:
          type: string
          description: 预约用户名称
        reserve_room_id:
          type: string
          description: 预约房间ID
        reserve_start_time:
          type: string
          format: date-time
          description: 预约开始时间
        reserve_end_time:
          type: string
          format: date-time
          description: 预约结束时间
      type: object
